@import "../../../scss/variables";

.logo-container{
    width: 280px;
    position: relative;
}

.logo-container::before{
    content: '';
    width: 100%;
    height: 180px;
    background-color: $white;
    border-radius: 50%;
    top: -6rem;
    left: 0;
    position: absolute;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
    z-index: -1;
}

.navbar{
    transition: all .2s ease-in-out;
    margin-top: -3rem;
    z-index: -3;
}

.navbar-bg{
    margin-top: -3.9rem;

    .nav-link{
        color: #ffffff;
    }

    &::before{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
        opacity: .9;
        background-color: $blue;
        z-index: -2;
    }
}

/*Responsive*/
@media screen and (max-width: 768px){
        
    .logo-container{
        width: 230px;
        position: relative;
    }

    .logo-container::before{
        content: '';
        width: 100%;
        height: 150px;
        background-color: $white;
        border-radius: 50%;
        top: -4.8rem;
        left: 0;
        position: absolute;
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
        z-index: -1;
    }
}