<app-navbar></app-navbar>

<section class="jumbotron">
    <div class="d-flex h-100 w-100 align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="card text-white text-center home-card border-0 rounded-0">
                        <div class="card-body p-5">
                            <h1 class="card-title handwriting">Bienvenidos al Hotel Santa Rosa</h1>
                            <h6 class="card-subtitle fst-italic my-4">Disfruta de tu viaje, vacaciones o una escapada de fin de semana en nuestras comodas habitaciones.</h6>
                            <button mat-flat-button color="primary" class="px-4">
                                Reservar ahora
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>