@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

$comfortaa-typography: mat-typography-config(
  $font-family: 'Comfortaa, cursive',
);

@include angular-material-typography($comfortaa-typography);
body { margin: 0; font-family: Comfortaa, cursive !important; }

.handwriting{
    font-family: 'Marck Script', cursive !important;
}