@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

$comfortaa-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
);

@include angular-material-typography($comfortaa-typography);
body { margin: 0; font-family: 'Montserrat', sans-serif !important; }

.handwriting{
    font-family: 'Marck Script', cursive !important;
}