<footer>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-md-4 text-center text-md-start">
                <img src="assets/img/logo.jpg" width="200">
                <p class="my-4"><i-feather name="map-pin"></i-feather> <span class="small"> Jr. Lima N°166 - Ayacucho</span></p>
                <p class="my-4"><i-feather name="phone"></i-feather> <span class="small"> (066) 312083</span></p>
                <p class="my-4"><i-feather name="mail"></i-feather> <span class="small"> santarosahotel166@gmail.com</span></p>
            </div>
            <div class="col-12 col-md-4">
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fweb.facebook.com%2Fhotelsantarosaayacucho&tabs=timeline&width=340&height=380&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="100%" height="380" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <div class="col-12 col-md-4">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1942.5111296557454!2d-74.22699299261231!3d-13.16099591362119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91127df2f8a99a37%3A0x8d7a28d908102c4c!2sHotel%20Ayacucho%20Santa%20Rosa!5e0!3m2!1ses-419!2spe!4v1611095497732!5m2!1ses-419!2spe"
                    width="100%" height="380" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 col-md-6 text-center text-md-start">
                <p class="small">&copy; Todos los derechos reservados - {{year}}</p>
            </div>
            <div class="col-12 col-md-6 text-center text-md-end">
                <p class="small">Made with ♥ by <a target="_blank" href="https://web.facebook.com/vmorenoz/" class="text-dark">Vicodev</a></p>
            </div>
        </div>
    </div>
</footer>